//couleur:

$purpleDark: #0B0019;
$purpleLight: rgba(36, 0, 82, 0.7);
$blanc: rgba(255, 255, 255, 0.8);
$noir: rgba(0, 0, 0, 0.7);
$noirHight: rgba(0, 0, 0, 0.9);
$vertLink: rgb(1, 188, 1);
$redLink: crimson;
$purpleLink: purple;
$blancFoot: white;

//text-shadow:

$textShadow: 1px 1px 1px $blanc, 2px 2px 2px $noir, 0px 0px 4px $noir;

//background

$bckgWrapper: rgba(255, 255, 255, 0.8);